.dropdown {
  display: flex;
  flex-direction: column;
  width: 1023px;
  height: auto;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 34.22px;
  text-align: left;
  margin-bottom: 20px;

  p {
    margin: 0.5rem;
  }
}

.dropdown-close {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff6060;
  color: white;
  padding: 0 1rem;
  cursor: pointer;

  .arrow {
    width: 1.5rem;
    transform: rotate(180deg); // Par défaut vers le haut
    transition: transform 0.3s ease;
  }

  &.open .arrow {
    transform: rotate(0deg); // Vers le bas lorsqu'il est ouvert
  }
}

.dropdown-content {
  display: none;
  font-family: Montserrat;
  font-weight: 400;
  line-height: 34.22px;
  text-align: left;
  background: #f6f6f6;
  width: calc(
    100% - 2rem
  ); // S'assurer que le contenu ne dépasse pas par la droite
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;

  p {
    margin: 0;
  }
}

.dropdown.open .dropdown-content {
  display: block;
}
